[submodule "repo/runtime"]
	path = repo/runtime
	url = https://github.com/dotnet/runtime
	branch = release/10.0
[submodule "repo/skia"]
	path = repo/skia
	url = https://github.com/mono/skia
	branch = release/2.x
[submodule "repo/depot_tools"]
	path = repo/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
	branch = main
